.footer-text span{
  color: red;
}
.img-container {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  
  .img-container img {
    width: 100%;
    height: auto;
  }
  
  .img-container .btn {
    position: absolute;
    top: 80%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .img-container .btn:hover {
    background-color: rgba(0,0,0,0.7);
  }

  /* house listing container */
  .listing-link a{
    text-decoration: none !important;
    color: black;
    line-height: normal;
  }